@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400;700&family=Offside&family=Nanum+Myeongjo&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

.trix ul {
    list-style-type: disc;
    padding-left: 2.5rem;
}

.trix ol {
    list-style-type: decimal;
    padding-left: 2.5rem;
}

* {
    font-family: "monda";
}

.ornament {
    @apply rounded-full absolute -z-10;
}

.indicator {
    @apply text-center inline-block py-2 px-4 my-3 m-5 border-[1px] border-white rounded-full;
}

.paginate-indicator {
    @apply text-center inline-block py-1 cursor-pointer hover:text-gray-50 hover:bg-[#202f66] px-3 border-[1px] text-[#202f66] border-[#202f66] rounded-full;
}

.active {
    @apply text-black bg-slate-200;
}

.input-style {
    @apply py-2 my-3 px-3 w-full mr-3 bg-gray-100 rounded-sm;
}

.hover-underline {
    @apply hover:no-underline underline;
}

.sidebar {
    @apply h-max w-1/5 md:w-2/5 p-3 border-[1px] border-slate-300 rounded-md md:sticky top-24;
}

.min {
    @apply w-4/5;
}

.trix ol {
    list-style-type: disc;
}

/* TRiX EDITOR CSS*/

ul {
    list-style: disc;
    list-style-position: inside;
}
ol {
    list-style: decimal;
    list-style-position: inside;
}

/* scrollbar css style */

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #d3edff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #002872;
}

.container-width {
    @apply max-w-[1100px] mx-auto flex md:flex-row justify-start gap-5 px-5;
}

.list-contents {
    @apply flex list-none gap-10 sm:gap-5;
}

.list-menu {
    @apply underline hover:no-underline;
}
.svg-social {
    @apply bg-[#000D3B] rounded w-7 h-7 cursor-pointer opacity-75 hover:opacity-100;
}

.sub-title {
    @apply text-slate-800 text-2xl font-extrabold mb-5;
}

.btn-style {
    @apply bg-[#000D3B] py-2 px-3 lg:px-5 rounded hover:opacity-80 my-3 ml-auto text-slate-50 cursor-pointer disabled:opacity-70 disabled:cursor-not-allowed;
}

.active-list {
    @apply text-[#2b4297] bg-white hover:text-blue-700 font-semibold hover:bg-blue-100;
}

/* pangination styles */
.pagination-list {
    @apply inline-flex -space-x-px text-sm list-none;
}

.pagination-list li {
    @apply cursor-pointer;
}

.pagination-list li:hover p {
    @apply hover:bg-gray-100 hover:text-gray-500;
}

.text-limit {
    @apply text-ellipsis block whitespace-nowrap overflow-hidden;
}

/* login register input style */
.auth-input {
    @apply pl-9 border-b-2 py-2 mb-2 px-2 w-full focus:outline-none focus:border-[#001D86] bg-gray-50 focus:bg-blue-50;
}
.custom-height {
    height: 500px; /* Atur tinggi sesuai kebutuhan Anda */
}
